body {
    height: 100vh;
    background: #000;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

.container {
    max-width: 760px;
    margin: 40px auto;
}

.products {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 70px;
}

.total__divider {
    border-top: 1px solid #fff;
    width: 38px;
}

.total__display {
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
    margin: 20px 0 0;
}

.total__value {
    font-weight: bold;
}


.product {
    display: inline-block;
}

.product__image {
    margin: 0;
    margin-bottom: 15px;
}

.product__title {
    font-size: 16px;
    line-height: 20px;
    margin: 5px 0 0;
}

.product__description {
    font-size: 12px;
    line-height: 16px;
    max-width: 232px;
}

.product__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.product__controls__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.product__controls__action {
    background: #00adef;
    border: none;
    height: 32px;
    width: 32px;
}

.product__controls__action__icon {
    height: 10px;
    width: 10px;
}

.product__controls__action:hover {
    background: #0088c6;
}

.product__controls__quantity {
    box-sizing: border-box;
    padding: 0;
    font-size: 16px;
    color: #000;
    height: 32px;
    width: 32px;
    text-align: center;
}

.product__price {
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
}
